In [1]:
#1> Write a code to create a string with your name and print it
name="Shubham"
print(name)

Shubham

In [3]:
#2> Write a code to find the length of the string "Hello World"
string="Hello World"
print("Length of the string:",len(string))

Length of the string: 11

In [4]:
#3> Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [5]:
#4> Write a code to convert the string "hello" to uppercase
text = "hello"
print("Original Text: ",text)
uppercase_text = text.upper()
print("Uppercase: ",uppercase_text)

Original Text:  hello
Uppercase:  HELLO

In [6]:
#5> Write a code to replace the word "apple" with "orange" in the string "I like apple"
txt = "I like apple"
print("Original Text: ",txt)
modified_text = txt.replace("apple", "orange")
print("Modified Text: ",modified_text)

Original Text:  I like apple
Modified Text:  I like orange

In [7]:
#6> Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7> Write a code to append the number 10 to the list [1, 2, 3, 4]
num = [1, 2, 3, 4]
print("Original list: ",num)
num.append(10)
print("Modified list: ",num)

Original list:  [1, 2, 3, 4]
Modified list:  [1, 2, 3, 4, 10]

In [9]:
#8> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
n = [1, 2, 3, 4, 5]
print("Original list: ",n)
n.remove(3)
print("Modified list: ",n)

Original list:  [1, 2, 3, 4, 5]
Modified list:  [1, 2, 4, 5]

In [10]:
#9> Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print("Original list: ",lst)
second_element = lst[1]
print("Second element: ",second_element)

Original list:  ['a', 'b', 'c', 'd']
Second element:  b

In [11]:
#10> Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
print("Original list: ",l)
l.reverse()
print("Reversed list: ",l)

Original list:  [10, 20, 30, 40, 50]
Reversed list:  [50, 40, 30, 20, 10]

In [12]:
#11> Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [13]:
#12> Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print("Original tuple: ",fruits)
first_fruit = fruits[0]
print("First element: ",first_fruit)

Original tuple:  ('apple', 'banana', 'cherry')
First element:  apple

In [15]:
#13> Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
bers = (1, 2, 3, 2, 4, 2)
print("Original tuple: ",bers)
count = bers.count(2)
print("2 is present",count,"times in the tuple.")

Original tuple:  (1, 2, 3, 2, 4, 2)
2 is present 3 times in the tuple.

In [16]:
#14> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [17]:
#15> Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fru = ('apple', 'orange', 'banana')
is_in_tuple = 'banana' in fru
print(is_in_tuple)

True

In [19]:
#16> Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
#17> Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print("After Modification: ",my_set)

After Modification:  {1, 2, 3, 4, 6}